<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <main class="d-flex w-100 min-vh-100 justify-content-center align-items-center bg-motherboard-dev">
                <div class="container g-0">
                    <div class="row g-0">
                        <div class="offset-lg-3 col-lg-6 d-inline flex-column bg-white-94 p-5 shadow-no-hover">
                            <i class="fas fa-ghost fa-3x fa-fw"></i>
                            <span class="sr-only">Page not found</span>
                            <h3 class="d-inline">  WoOoooOo! This is spooky!</h3>
                            <p class="mb-3 mt-3">The page you requested doesn't exist.</p>
                            <p class="mb-3 mt-3">Did you miss a left at Albuquerque?</p>
                            <a href="/" class="btn btn-primary shadow btn-lg fw-bold">
                                <i class="fas fa-home"></i> Return Home
                            </a>
                        </div>
                    </div>
                </div>
            </main>
        </LayoutView>
    </NotFound>
</Router>
